body {
    background-color: #282C34;
    color: white;
}

.app {
    text-align: center;
}


#hidden {
    font-size: 4em;
}

#shown {
    font-size: 3em;
    text-decoration: underline;
    margin-right: 15px;
}